.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  color: #515151;
  width: 375px;
  height: 811px;
  /* left: 20px;
  top: 21px; */
  margin: auto;
}

.top {
  position: absolute;
  width: 397.5px;
  height: 282.45px;
  left: 385.5px;
  top: -96px;
}
