.cam {
  position: absolute;
  width: 237px;
  height: 189px;
  text-align: center;
  z-index: 9;
}

.webcamContainer {
  margin: auto;
  padding: auto;
}

.canvas {
  position: absolute;
  width: 237px;
  height: 189px;
  text-align: center;
  z-index: 9;
}

.nextButton {
  position: absolute;
  left: 141px;
  top: 634px;
}
